@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: hidden;
}

.snap-y {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  
.snap-y::-webkit-scrollbar {
  display: none;
}

.smooth-scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
  
.snap-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}